build
build-debug
cmake-build
cmake-build-debug
/googletest/
/concurrency-test/venv/
/concurrency-test/build/
/concurrency-test/dist/
/concurrency-test/xsct/__pycache__/
/concurrency-test/xsct/common/__pycache__/
/concurrency-test/xsct/imcx/__pycache__/
.idea
.DS_Store
*.egg-info
